tests/assets/generation/attrgroup_usage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ns1" targetNamespace="urn:ns1"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:attributeGroup name="sampleAttrs">
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="type" use="optional" type="xs:string"/>
    </xs:attributeGroup>
    <xs:complexType name="sampleType">
        <xs:attributeGroup ref="tns:sampleAttrs"/>
    </xs:complexType>
</xs:schema>
