tests/assets/generation/reference_complex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:example="http://site.example/ws/spec" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://site.example/ws/spec" elementFormDefault="qualified">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="job">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="example:person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
