tests/assets/test_suites/w3c_wsdl20/messages/good/InOut-2G/echo.wsdl

<!-- https://dev.w3.org/2002/ws/desc/test-suite/messages/good/InOut-2G/echo.wsdl -->
<!-- Copyright © 2008 - W3C, (MIT, ERCIM, Keio). All Rights Reserved. http://www.w3.org/Consortium/Legal/2002/copyright-documents-20021231 -->
<description xmlns="http://www.w3.org/ns/wsdl"
	xmlns:tns="http://www.wso2.com/wsdl/2006/interop/EchoService"
	xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
	xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
	targetNamespace="http://www.wso2.com/wsdl/2006/interop/EchoService"
	xmlns:wwis="http://www.wso2.com/schemas/2006/interop/EchoService">

	<documentation>
		This test contains simple echo operations which can be used for
		iteroperability testing.
	</documentation>

	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.wso2.com/schemas/2006/interop/EchoService"
			targetNamespace="http://www.wso2.com/schemas/2006/interop/EchoService"
			elementFormDefault="unqualified"
			attributeFormDefault="unqualified">
			<xs:element type="tEchoString" name="echoString" />
			<xs:complexType name="tEchoString">
				<xs:sequence>
					<xs:element type="xs:string" name="echoStringParam" />
				</xs:sequence>
			</xs:complexType>
			<xs:element type="xs:string" name="echoStringResponse" />

			<xs:element type="tEchoXML" name="echoXML" />
			<xs:complexType name="tEchoXML">
				<xs:sequence>
					<xs:element type="xs:anyType" name="echoXMLParam" />
				</xs:sequence>
			</xs:complexType>
			<xs:element type="xs:anyType" name="echoXMLResponse" />

		</xs:schema>
	</types>
	<interface name="echoServiceInterface">
		<operation pattern="http://www.w3.org/ns/wsdl/in-out"
			name="echoString">
			<input element="wwis:echoString" messageLabel="In" />
			<output element="wwis:echoStringResponse"
				messageLabel="Out" />
		</operation>
		<operation pattern="http://www.w3.org/ns/wsdl/in-out"
			name="echoXML">
			<input element="wwis:echoXML" messageLabel="In" />
			<output element="wwis:echoXMLResponse" messageLabel="Out" />
		</operation>
	</interface>
	<binding interface="tns:echoServiceInterface"
		type="http://www.w3.org/ns/wsdl/soap"
		name="echoServiceSOAPBinding"
		wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<operation
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response/"
			ref="tns:echoString" />
		<operation
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response/"
			ref="tns:echoXML" />
	</binding>
	<service name="echoService" interface="tns:echoServiceInterface">
		<endpoint
			address="http://www-lk.wso2.com/axis2/services/EchoService"
			binding="tns:echoServiceSOAPBinding"
			name="echoServiceSOAPBinding_http" />
	</service>
</description>
